html {
  font-family: Georgia, Cambria, "Times New Roman", serif; }

a {
  color: #7CE577; }

p {
  font-family: Georgia, Cambria, "Times New Roman", serif;
  border-radius: 5px; }

body {
  font-family: Georgia, Cambria, "Times New Roman", serif;
  color: #A0CCDA; }

input[type="password"], input[type="button"], input[type="text"], textarea {
  font-family: Georgia, Cambria, "Times New Roman", serif;
  color: #A0CCDA;
  border-color: #A0CCDA;
  background-color: white;
  border-radius: 5px; }

img {
  border-radius: 5px; }
